html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Courier', monospace;
  font-weight: 400;
  font-display: optional;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  overflow: hidden; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  color: white;
  background-color: dimgray }
input {
	font-size: 1.2em;
	height: 24px;
	color: white;
	background-color: black;
	border: 1px solid white;
}
select {
	border: solid white 1px;
	color: white;
	background-color: gray;
}
textarea {
	width: 100%;
	height: 80px;
	font-family: 'Courier', monospace;
	font-size: 1.2em;
	color: white;
	background-color: black;
	border: solid white 1px;
}
.header {
  position: fixed;
  width: 100%;
  height: 24px;
  color: white;
  background: black;
  padding: 10px 10px 10px 10px;
  z-index: 10;
}
.text-button {
	border: none;
	margin: 15px;
	padding: 5px;
	font-size:1.2em;
	font-weight: bold;
	color: white;
	background: none;
	float: right;
}
.text-button:disabled {
	color: gray;
}
.round-button {
	display: block;
	position: fixed;
	bottom: 20px;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 50%;
	background: black;
	z-index: 50;
}
.round-button img {
	display: block;
	width: 24px;
	height: 24px;
}
.logList {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    transition: opacity 0.2s ease-in-out;
    padding: 0 0.5em;
}
.log-item {
	margin-bottom: 5px;
	display: block;
}
.log-text {
  width: 80%;
  text-align: left;
  font-size: 1.2em;
  color: white;  
}
.log-date {
	color: white;
	font-size: 1em;
}
.log-tags {
	color: white;
	font-size: 0.8em;
	float: right;
}
.dialog {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	padding: 10px;
	color: white;
	background-color: black;
	z-index: 10;
	display: none;
}
.dialog > div {
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}
.dialog-title {
  padding-top: 20px;
  font-size: 1em;
  font-weight: bold;
}
.dialog-body {
  padding-top: 5px;
  padding-bottom: 5px; }
.dialog-body select {
    width: 30%;
	height: 32px;
	font-size: 1em;
	color: white;
	background-color: dimgray;
}
.tag-list {
	list-style: none;
	overflow: hidden;
	color: white;
	background-color: black;
	border: none;
}
.tag-list li {
	float:right;
	padding: 8px;
	font-size: 1em;
	text-align: center;
}
.add-button {
	width: 50px;
    height: 24px;
    margin-bottom: 15px;
    border: none;
    float: right;
	background-color: black;
    background: url(add24px.svg) center center no-repeat;
}
.save-button {
    width: 50px;
    height: 24px;
    margin-bottom: 15px;
    border: none;
    float: right;
	background-color: black;
    background: url(ok24px.svg) center center no-repeat;
}
.delete-button {
    width: 50px;
    height: 24px;
    margin-bottom: 15px;
    border: none;
    float: left;
	background-color: black;
	background: url(delete24px.svg) center center no-repeat;
}
.search-button {
    width: 50px;
    height: 24px;
    border: none;
	background-color: black;
	background: url(search24px.svg) center center no-repeat;
}
#main {
  padding-top: 50px;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  background-color: #444;
}
#heading {
	font-family: 'Courier',monospace;
    font-size: 1.5em;
    font-weight: bold;
}
#curtain {
	position: fixed;
	left:0;
	top:0;
	width: 100%;
	height: 0;
	background-color: #444;
	opacity: 0.6;
}
#buttonFind {
    left: 20px;
    border: none;
    background: url(find.svg) center center no-repeat;
 }
#buttonNew {
	right: 20px;
	background: url(add.svg) center center no-repeat;
}
#logDateField {
	width: 120px;
	height: 34px;
	font-family: 'Courier', monospace;
}
#logDaysField {
	width: 32px;
	height: 32px;
}
#fileChooser {
	height: 30px;
	width: 100%;
	font-size: 1.5em;
	background-color: black;
}
#tagChooser {
	background-color: black;
}
